# ==================================================
#      _____
#   __|___  |__    __    __   _  ____    ____   _
#  |   ___|    | _|  |_ |  |_| ||    \  |    \ | |
#  |   ___|    ||_    _||   _  ||     \ |     \| |
#  |______|  __|  |__|  |__| |_||__|\__\|__/\____|
#     |_____|
#
#                   Game Engine
# ==================================================

# ---
# .editorconfig

# Configuration file for EditorConfig
# More information is available under http://EditorConfig.org

# Ignore any other files further up in the file system
root = true

[*]
end_of_line = crlf                # Enforce Windows style line endings
insert_final_newline = true       # Always end files with a blank line
indent_style = tab                # Force space characters for indentation
indent_size = 4                   # Always indent by 4 characters
trim_trailing_whitespace = true   # Remove whitespace characters at the end of line
